.navigation-container{
    background-color: #4a078c !important;
    border-bottom: 1px solid #000000;
    a{
        color:#ffffff;
        text-decoration: none;
        text-transform: uppercase;
        font-family:  'Montserrat', sans-serif;

        button{
            border:none;
            background:none;
            color:white;
        }
    }
}

span.user-name{
    color:white;
    margin:auto;
}