.input-forms {
  &__container {
    margin-bottom: 22px;
    input,select{
        width: 100%;
    }
  }
}
p {
  color: white;
}

.money-pot-card-container {
  &__input {
    margin-bottom: 16px;
  }
  &__list{
    overflow: scroll;
    max-height:10rem;
  }
}
