.card-container {
    color:black;

   button a, a{
        text-decoration: none;
        color:white;
        text-transform: uppercase;
        font-family: 'Montserrat';
    }

    &__item {
        min-height: 184px;
        margin:16px auto;
    }
    &__body{
        box-shadow: -5px 10px 10px #d7983d;
    }
}

.expense-form{
    &__container {

        &--input{
            margin-bottom:16px;
        }
    }
}