.card-container {
  color: black;

  button a,
  a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-family: "Montserrat";
  }

  &__item {
    min-height: 184px;
    margin: 16px auto;
  }
  &__body {
    box-shadow: -5px 10px 10px #8129d8;
  }
}

.expense-form {
  &__container {
    &--input {
      margin-bottom: 16px;
    }
    &-dropdown {
      margin-bottom: 16px;
      button {
        width: 100%;
      }

      .dropdown-menu {
        &.show {
          max-height: 150px;
          overflow-y: scroll;
          &::-webkit-scrollbar {
            width: 6px;
            
          }

          &::-webkit-scrollbar-track {
            background: #f1f1f1; 
          }
          
          &::-webkit-scrollbar-thumb {
            background: #888; 
          }
          
          .dropdown-item{
            color: black;
          }
        }
      }
    }
  }
}
.piggy-bank {
  &__container {
    text-align: center;
  }
  &__item {
    position: relative;

    &-card {
      background: none;
      align-items: center;
      border: none;
    }

    img {
      width: 250px;
      height: auto;
      object-fit: contain;
    }
  }
  &__info {
    position: absolute;
    top: 40%;
    font-weight: 700;
    color: white;
    text-align: center;
    font-size: 80%;
  }
}
